:host {
  padding: none;
  position: flex;
  align-items: flex-start;
  justify-items: center;

  .socket {
    position: absolute;
    margin-top: 4px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(128,128,164);
    box-shadow: inset 0 0 4px #000;
    filter: none;
    transition: all 0.2s ease;
  }

  .socket:hover {
    filter:
      drop-shadow(0 0 2px rgba(164, 164, 178, 0.8))
      drop-shadow(0 0 4px rgba(128, 128, 200, 0.2))
      drop-shadow(0 0 24px rgba(128, 128, 226, 0.2));
    background-color: rgb(200, 200, 228);
    box-shadow: inset 0 0 8px rgba(164, 164, 226, 0.6);
  }

  .socket-title {
    font-size: 10px;
    display: inline-block;
  }
  input {
    font-size: 10px;
    margin-left: 12px;
    background-color: #DDDDDD;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.6);
    border: none;
    color: #333333;
    height: 18px;
    width: 50px;
    transition: all 0.2s ease;
    padding: 4px;
  }

  input:hover, input:focus, input:active {
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.6);
    background-color: #EEEEEE;
  }

  input:focus, input:active {
    background-color: #FFFFFF;
  }

  &.input {
    align-items: flex-end;
    .socket {
      left: 5px;
    }
    .socket-title {
      margin-left: 12px;
    }
  }
  &.output {
    .socket {
      right: 5px;
    }
    .socket-title {
      margin-right: 12px;
    }
  }
}
