:host {
  .socket {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(128,128,256,0.5);
  }

  &.input {
    .socket {
      left: 0;
    }
    .socket-title {
      margin-left: 20px;
    }
  }
  &.output {
    .socket {
      right: 0;
    }
    .socket-title {
      margin-right: 20px;
    }
  }
}
