.card {
  margin: 0 30px;
  width: 280px;
  height: 300px;
  flex: 0;

  .card-block {
    display: flex;
    justify-content: space-between;

    .interface {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-content: end;

      &.outputs {
        text-align: right;
        float: right;
      }
    }
  }
}
