<div class="card">
  <div class="card-header">
    {{graphNode.title}}
  </div>
  <div class="card-block">

    <div class="interface inputs">
      <div class="card-title">Inputs</div>
      <app-socket
        *ngFor="let input of graphNode.inputs"
        class="input" [socket]="input"
        ></app-socket>
    </div>

    <div class="interface outputs">
      <div class="card-title">Outputs</div>
      <app-socket
        *ngFor="let output of graphNode.outputs"
        class="output" [socket]="output"
        ></app-socket>
    </div>

  </div>
</div>
